li {
    list-style: none;
    text-align: left;
    font-size: 16px;
    display: inline-block;
}

.albumArt{
    width: 95%;
    align-self: center;
    padding-top: 5px;
}

.img-fluid{
    width:75%;
}

.albumArtModal{
    width: 55%;
    align-self: right;

}


.ListItemLyrics:hover{
    box-shadow: 0 4px 8px 0 rgba(38, 38, 38, 38);
    transition: 0.2s;
    background-color: #DCE8EE;
    transform: scale(1.1);
}


/*______vvvv______Placeholder until bootstrap card figured out______vvvv______*/
.card {
    /* Add shadows to create the "card" effect */
    margin: 5px;
    border-style: none;
    background-color: green;
    display: inline-block;

}
.card:hover {
    box-shadow: 0 4px 8px 0 rgba(156, 255, 147, 0.911);
    transition: 0.2s;
    background-color: #DDDDDD;
}

.card-body {
    color: black;
    padding-top: 3rem;
}

.not-available {
    font-size: smaller;
}


/*____________________________________________________________________________*/