/*----------Multi Song Response List View ---*/
li {
    list-style: none;
    text-align: left;
    font-size: 16px;
    display: inline-block;
}

/*-------------Album Art-------------*/
.albumArt{
    width: 95%;
    align-self: center;
    padding-top: 5px;
}

.albumArtModal{
    width: 55%;
    align-self: right;
}

.img-fluid{
    width:75%;
}

/*-------------Modal-------------*/
.ListItemLyrics:hover{
    box-shadow: 0 4px 8px 0 rgba(38, 38, 38, 38);
    transition: 0.2s;
    background-color: #DCE8EE;
    transform: scale(1.1);
}


/*--------Multi Song Response Cards------------*/
.card {
    margin: 5px;
    border-style: none;
    background-color: #000;
    display: inline-block;
}
.card:hover {
    box-shadow: 0 4px 8px 0 rgba(14, 17, 14, 0.911);
    transition: 0.2s;
    background-color: #DDDDDD;
}

.card-body {
    color: black;
    padding-top: 3rem;
    
}

.not-available {
    font-size: smaller;
}

input.transparent-input{
    background-color:transparent !important;
    border-color: #ffffff;
    color: #ffffff;
 }
 input.transparent-input:focus{
    border-color:#ffffff;
    box-shadow: 0 0 0 0.1rem rgb(255, 255, 255);
    color: #ffffff;
 }

 /* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px rgba(52, 58, 64, 1) inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}