/*----------Multi Song Response List View ---*/
li {
    list-style: none;
    text-align: left;
    font-size: 16px;
    display: inline-block;
}

/*-------------Album Art-------------*/
.albumArt{
    align-self: center;
    padding-top: 5px;
}

.img-fluid{
    width:75%;
}

/*--------Multi Song Response Cards------------*/
/* Using ID's allows for a higher priority over the typical bootstrap.*/
.card {
    margin: 5px;
    border-style: none;
    background-color: #f1f3f4 !important;
    border-radius: 30px !important;
    margin-top: 20px;
    display: inline-block;
}

.card:hover {
    border: 50px #ee6c4d !important;
    transition: 0.2s;
}
.col-10 {
    text-align: center;
}
.card-body {
    color: black;
    padding-top: 3rem;
}

.card-body img {
    display: block;
    max-width:300px;
    max-height:300px;
    width: 300px;
    height: 300px;
}


.card-songtitle {
    padding-top: 1rem;
}

.not-available {
    font-size: smaller;
}


input.transparent-input{
    background-color:transparent !important;
    border-color: #ffffff;
    color: #ffffff;
    caret-color: #ee6c4d;
    padding-top: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
 }
 input.transparent-input:focus{
    border-color:#ffffff;
    box-shadow: 0 0 0 0.1rem rgb(255, 255, 255);
    color: #ffffff;
    caret-color: #ee6c4d;
 }

 /* USER INPUT */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
-webkit-box-shadow: 0 0 0 30px rgba(61, 90, 128, 1) inset !important;
    caret-color: #ee6c4d;
}

input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}

.userinput {
    justify-content: center;
}
/* NAVBAR LOGO*/
.logo {
    max-height: 40px;
}

/* NAVBAR */
.ournavbar{
    background-color: #3d5a80;
}

/* NAVBAR LINKS */

.nav-link {
    color: white;
}
.nav-link:hover {
    color: white;
}

.logo {
    align-content: center;
}

.nav-item{
    align-content: center;
    text-align: center;
}

.nav-item:hover {
    background-color: #ee6c4d;
    color: white;
    transition: 0.4s;
    text-align: center;
    align-content: center;
}

.btn-outline-success {
    border-color: #ee6c4d !important;
    color: #ee6c4d !important;
}

.btn-outline-success:hover{
    border-color: #ee6c4d !important;
    color: white !important;
    background-color: #ee6c4d !important;
}
.btn-outline-success.focus, .btn-outline-success:focus {
    box-shadow: 0 0 0 0.1rem rgba(238, 108, 77, 1) !important;
}

/* BACKGROUND BEFORE STUFF LOADED IN */
html {
    background: #293241;
}

.background {
    background-color: #293241;
}
